{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Aperitivo{% endblock title %}
{% block description %}Página com video gratuito de Python{% endblock description %}
{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
                <h1 class="mt-4 mb-3">Video Aperitivo: Motivação</h1>
				<iframe src="https://player.vimeo.com/video/447357180" width="640" height="361"
						frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
{% endblock body %}